<template>
  <div class='bio-date-picker'>
    <template v-if='readonly'>
      <div class='bio-date-picker__select'>
        <a-input size='large' v-model='day' :readonly='readonly'/>
      </div>
      <div class='bio-date-picker__select'>
        <a-input size='large' v-model='month' :readonly='readonly'/>
      </div>
      <div class='bio-date-picker__select'>
        <a-input size='large' v-model='year' :readonly='readonly'/>
      </div>
    </template>
    <template v-else>
     <a-auto-complete
      :dataSource="days"
      style="width: 180px"
      placeholder="Day"
      v-model='day'
      size='large'
      @blur='daySelect'
      @focus='day = ""'
      @select='daySelect'
      @change='onChangeDate'
      class="bio-date-picker__select"
      :filterOption="filterOption"
    >
      <a-input>
        <a-icon
          slot="suffix"
          type="caret-down"
          class="certain-category-icon"
          @click='day = ""'
        />
      </a-input>
    </a-auto-complete>
    <a-auto-complete
      :dataSource="months"
      style="width: 220px"
      placeholder="Month"
      size='large'
      v-model='month'
      @blur='monthSelect'
      @focus='month = ""'
      @select='monthSelect'
      @change='onChangeDate'
      class="bio-date-picker__select"
      :filterOption="filterOption"
    >
      <a-input>
        <a-icon
          slot="suffix"
          type="caret-down"
          class="certain-category-icon"
          @click='month = ""'
        />
      </a-input>
    </a-auto-complete>
    <a-auto-complete
      :dataSource="years"
      style="width: 200px"
      placeholder="Year"
      v-model='year'
      size='large'
      @blur='yearSelect'
      @focus='year = ""'
      @select='yearSelect'
      @change='onChangeDate'
      class="bio-date-picker__select"
      :filterOption="filterOption"
    >
      <a-input>
        <a-icon
          slot="suffix"
          type="caret-down"
          class="certain-category-icon"
          @click='year = ""'
        />
      </a-input>
    </a-auto-complete>
    </template>
    
  </div>
</template>
<script>
import moment from "moment";

export default {
  name: "BioDatePicker",
  props: {
    value: {
      type: String,
      required: true,
    },
    readonly: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      day: "",
      month: "",
      year: "",
      incorectDate: false, 
    };
  },
  methods: {
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text
          .toUpperCase()
          .indexOf(input.toUpperCase()) >= 0
      );
    },
    daySelect(val) {
      if (this.days.every(item => String(item) !== String(val))) {
        this.day = "";
      }
    },
    monthSelect(val) {
      if (this.months.every(item => String(item) !== String(val))) {
        this.month = "";
      }
    },
    yearSelect(val) {
      if (this.years.every(item => String(item) !== String(val))) {
        this.year = "";
      }
    },
    updateDate() {
      if (this.value) {
        const [ day, month, year ] = moment(this.value, "DD/MM/YYYY").format('DD/MMMM/YYYY').split('/');
        this.day = day;
        this.month = month;
        this.year = year;
      }
    },
    emitError() {
      const error = !moment(this.formatedDate).isValid();
      console.log(error)
      this.$emit('error', error);
    },
    onChangeDate() {
      const { day, month, year } = this;
      const date = `${day}/${month}/${year}`;
      this.emitError();
      if (day && month && year && !moment(date, "DD/MMMM/YYYY").isValid()) {
        this.incorectDate = true;
      } else if (day && month && year) {
        const result = moment(date, "DD/MMMM/YYYY").format('DD/MM/YYYY');
        this.$emit("input", result);
        this.incorectDate = false;
      } else {
        this.incorectDate = false;
      }
    }
  },
  computed: {
    formatedDate() {
      const { day, month, year } = this;
      if (day && month && year) {
        const date = `${day}/${month}/${year}`;
        return moment(date, "DD/MMMM/YYYY").format('DD/MM/YYYY');
      }
      return '';
    },
    days() {
      const days = [];
      for (let i = 1; i < 32; i++) {
        const x = String(i).padStart(2, "0");
        days.push(x);
      }
      return days;
    },
    months() {
      const months = [];
      const m = moment();
      for (var i = 0; i < 12; i++) {
        months.push(m.month(i).format("MMMM"));
      }
      return months;
    },
    maxYear() {
      return moment()
        .subtract(16, "years")
        .format("YYYY");
    },
    years() {
      const years = [];
      const minYear = moment()
        .subtract(100, "years")
        .format("YYYY");
      for (let i = Number(this.maxYear); Number(i) > Number(minYear); i--) {
        years.push(String(i));
      }
      return years;
    }
  },
  mounted() {
    this.updateDate();
  },
  watch: {
    value() {
      if (this.value !== this.formatedDate) {
        this.updateDate();
      }
    }
  }
};
</script>
<style lang="scss">
.bio-date-picker {
  display: flex;
  &__select {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
    &.warn input.ant-input {
      border-color: $Y300;
    }
  }
}
</style>

