<template>
  <bio-transition>
    <div v-if='hasChanges' class='bio-has-changes'>
      <a-divider v-if='devider' orientation="left"><span class='bio-has-changes__desc lightFade'>You have unsaved changes</span></a-divider>
      <div class='bio-has-changes__row-center'>
        <a-button
          class='bio-has-changes__save-button'
          type='primary'
          icon="cloud-upload"
          :disabled='isInvalid'
          :loading='loading'
          @click='$emit("save-changes")'
          v-if='devider'
        >Save</a-button>
        <a-tooltip v-else placement="topLeft" title="You have unsaved changes">
          <a-button
            class='bio-has-changes__save-button'
            type='primary'
            icon="cloud-upload"
            :disabled='isInvalid'
            :loading='loading'
            @click='$emit("save-changes")'
          >Save</a-button>
        </a-tooltip>
        <a-button
          class='bio-has-changes__undo'
          icon="undo"
          type='danger'
          @click='$emit("cancel-changes")'
        >Cancel changes</a-button>
      </div>
    </div>
  </bio-transition>
</template>
<script>
export default {
  name: 'BioHasChanges',
  props: {
    isInvalid: Boolean,
    loading: Boolean,
    hasChanges: Boolean,
    devider: {
      type: Boolean,
      default: true,
    }
  }
}
</script>
<style lang="scss">
  .bio-has-changes {
  &__row-center {
    @include flex-row(stretch, center);
    position: relative;
  }
  &__save-button {
    margin-right: 12px;
  }
  &__desc {
    @include text($H200, 400, $N6);
  }
  &__undo {
    margin-left: 12px;
  }
}
</style>