<template>
  <div class="app-project">
    <section class="app-project__section">
      <h3 class="app-project__section-name">Created by:</h3>
      <div class="app-project__row-center">
        <a-avatar
          class="app-project__ava"
          :size="54"
          icon="user"
          :src="user.avatar"
        />
        <h4 class="app-project__name">{{ formData.creator }}</h4>
      </div>
    </section>
    <section class="app-project__section">
      <h3 class="app-project__section-name">Basics</h3>
      <a-form class="app-project__form" layout="vertical">
        <a-form-item label="What is a name of your business?">
          <a-input
            class="app-project__input"
            type="text"
            size="large"
            v-model="name"
          />
        </a-form-item>
        <a-form-item label="What counry is your bussiner register in?">
          <a-auto-complete
            :dataSource="countryList.getNames()"
            class="user-info-address__input"
            size="large"
            v-model="country"
            :filterOption="filterOption"
          />
        </a-form-item>
        <a-form-item label="How much do you want to raise?">
          <a-input
            class="app-project__input"
            type="text"
            size="large"
            v-model="raise"
          />
        </a-form-item>
        <a-form-item
          label="How many users or customers does your business have?"
        >
          <a-input
            class="app-project__input"
            type="text"
            size="large"
            v-model="customers"
          />
        </a-form-item>
      </a-form>
    </section>
    <section class="app-project__section">
      <h3 class="app-project__section-name">Funds</h3>
      <a-form class="app-project__form" layout="vertical">
        <a-form-item
          label="How much new capital have investors already pledged to invest in this raise?"
        >
          <a-input
            class="app-project__input"
            type="text"
            size="large"
            v-model="capital"
          />
        </a-form-item>
        <a-form-item label="Has your business raised funds before?">
          <a-radio-group name="raised" v-model="isRaised">
            <a-radio :value="true">Yes</a-radio>
            <a-radio :value="false">No</a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="Do you have a launched product or service?">
          <a-radio-group name="launched" v-model="isLaunched">
            <a-radio :value="true">Yes</a-radio>
            <a-radio :value="false">No</a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item
          class="app-project__radio-button-wrapper"
          label="When are you looking to receive the funds?"
        >
          <a-radio-group name="receive" v-model="receive">
            <a-radio class="app-project__radio-button" :value="1"
              >Within the next 3 months</a-radio
            >
            <a-radio class="app-project__radio-button" :value="2"
              >3 - 6 months</a-radio
            >
            <a-radio class="app-project__radio-button" :value="3"
              >6 months +</a-radio
            >
          </a-radio-group>
        </a-form-item>
        <a-form-item
          class="app-project__radio-button-wrapper"
          label="What kind of campaign will you run?"
        >
          <a-radio-group name="compaign" v-model="compaign">
            <a-radio class="app-project__radio-button" :value="1"
              >Equity</a-radio
            >
            <a-radio class="app-project__radio-button" :value="2"
              >Convertible</a-radio
            >
          </a-radio-group>
        </a-form-item>
        <a-form-item label="What's your current valuation?">
          <a-input
            class="app-project__input"
            type="text"
            size="large"
            v-model="currentValuation"
          />
        </a-form-item>
        <a-form-item
          label="What is the maximum amount of funding you'd accept?"
        >
          <a-input
            class="app-project__input"
            type="text"
            size="large"
            v-model="maxAmount"
          />
        </a-form-item>
      </a-form>
    </section>
    <section class="app-project__section">
      <h3 class="app-project__section-name">Description</h3>
      <a-form class="app-project__form" layout="vertical">
        <a-form-item label="Enter the business website">
          <a-input
            class="app-project__input"
            type="text"
            size="large"
            v-model="website"
          />
        </a-form-item>
        <a-form-item label="Business sector">
          <a-select class="app-project__input" v-model="sector">
            <a-select-option value="SaaS">SaaS</a-select-option>
            <a-select-option value="Sector 2">Sector 2</a-select-option>
            <a-select-option value="Sector 3">Sector 3</a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="What does your business do?">
          <a-textarea :rows="5" v-model="bussiness_description" />
        </a-form-item>
        <template>
          <a-form-item
            label="Business accomplishments"
            v-for="(n, index) in formData.accomplishments"
            :key="index + 1"
          >
            <a-textarea
              :rows="5"
              :value="n.body"
              @input="
                UPDATE_PROJECT_ACCOMPLISHMENT([index, $event.target.value])
              "
            />
          </a-form-item>
        </template>
      </a-form>
      <a-button icon="plus" type="dashed" @click="ADD_PROJECT_ACCOMPLISHMENT"
        >Add accomplishment</a-button
      >
    </section>
    <section class="app-project__section">
      <h3 class="app-project__section-name">Images</h3>
      <a-form class="app-project__form" layout="vertical">
        <a-form-item label="Project image">
          <div class="app-project__row">
            <a-upload
              name="avatar"
              listType="picture-card"
              :multiple="false"
              class="avatar-uploader"
              :showUploadList="false"
              action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              @change="handleLogoChange"
            >
              <img
                class="app-project__uploaded-image"
                v-if="formData.logo_url"
                :src="formData.logo_url"
                alt="avatar"
              />
              <div v-else>
                <a-icon :type="logoLoading ? 'loading' : 'upload'" />
                <div>Upload</div>
              </div>
            </a-upload>
            <div v-if="formData.logo_url" class="app-project__upload-buttons">
              <a-upload
                action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                :multiple="false"
                :showUploadList="false"
                @change="handleLogoChange"
              >
                <button class="link">Replace</button>
              </a-upload>
              <button class="link link--red">Discard</button>
            </div>
          </div>
        </a-form-item>
        <a-form-item label="Project logo">
          <div class="app-project__row">
            <a-upload
              name="avatar"
              listType="picture-card"
              :multiple="false"
              class="avatar-uploader"
              :showUploadList="false"
              action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              @change="handleImageChange"
            >
              <img
                class="app-project__uploaded-image"
                v-if="formData.image_url"
                :src="formData.image_url"
                alt="avatar"
              />
              <div v-else>
                <a-icon :type="imageLoading ? 'loading' : 'upload'" />
                <div>Upload</div>
              </div>
            </a-upload>
            <div v-if="formData.image_url" class="app-project__upload-buttons">
              <a-upload
                action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                :multiple="false"
                :showUploadList="false"
                @change="handleLogoChange"
              >
                <button class="link">Replace</button>
              </a-upload>
              <button class="link link--red">Discard</button>
            </div>
          </div>
        </a-form-item>
      </a-form>
    </section>
    <section class="app-project__section">
      <h3 class="app-project__section-name">Team</h3>
      <a-form class="app-project__form" layout="vertical">
        <a-form-item label="Team">
          <div class="app-project__row app-project__member" v-for='member in formData.team' :key='member.id'>
            <p class="app-project__member-name" v-if='editeMember !== member.id'>{{ member.name }}</p>
            <a-input
              v-else
              class="app-project__input app-project__input--editable"
              type="text"
              size='large'
              @blur='editeMember = null'
              :value='member.name'
              @input='UPDATE_PROJECT_MEMBER([member.id, $event.target.value])'
            />
            <a-button class="app-project__member-edit-button" shape="circle" size='large' icon="edit" @click='editeMember = member.id'></a-button>
          </div>
          <a-button
            icon="plus"
            type="dashed"
            @click="ADD_PROJECT_MEMBER"
            >Add new member</a-button
          >
        </a-form-item>
        <a-form-item label="Title">
          <a-input
            class="app-project__input"
            type="text"
            size="large"
            v-model="title"
          />
        </a-form-item>
        <a-form-item label="Phone number">
          <vue-tel-input
            class="app-project__input ant-input ant-input-lg app-project__input"
            v-model="phone"
          ></vue-tel-input>
        </a-form-item>
      </a-form>
    </section>
    <section class="app-project__section">
      <h3 class="app-project__section-name">Documents</h3>
      <a-form class="app-project__form" layout="vertical">
        <a-form-item>
          <a-upload
            action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            listType="picture"
            :defaultFileList="formData.documents"
          >
            <a-button> <a-icon type="upload" /> upload </a-button>
          </a-upload>
        </a-form-item>
      </a-form>
    </section>
  </div>
</template>
<script>
import projectMixin from '@/mixins/projectMixin';

export default {
  name: 'AppProject',
  mixins: [projectMixin],
};
</script>
<style lang="scss">
.app-project {
  @include media {
    max-width: 320px;
  }
  &__input {
    &--editable {
      margin-right: 12px;
    }
  }
  &__section {
    margin-bottom: 32px;
  }
  &__section-name {
    @include text($H600, 500, $N8);
  }
  &__ava {
    margin-right: 16px;
  }
  &__row-center {
    @include flex-row(flex-start, center);
  }
  &__name {
    @include text($H500, 500, $N8);
    margin: 0;
  }
  .ant-form-item-label label {
    color: $N6 !important;
  }
  &__radio-button-wrapper {
    .ant-radio-group {
      width: 100%;
    }
  }
  &__row {
    @include flex-row(flex-start, stretch);
  }
  &__radio-button {
    display: block;
    width: 100%;
    border: 1px solid $G4;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__uploaded-image {
    @include size(98px);
    object-fit: contain;
  }
  &__upload-buttons {
    @include flex-col(space-evenly, flex-start);
    margin-left: 12px;
  }
  .dropdown,
  .dropdown.open .dropdown:hover,
  .dropdown.open:hover,
  .dropdown:focus {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
  &__member {
    margin-bottom: 16px;
    align-items: center;
  }
  &__member-edit-button {
    flex-shrink: 0;
  }
  &__member-name {
    flex: 1 1;
    margin-bottom: 0;
    @include text(16px, 400, rgba(0, 0, 0, 0.65));
    @include flex-row(flex-start, center);
    padding: 3px 11px 0;
  }
}
</style>