<template>
  <div class='projects-settings'>
    <a-skeleton active class='projects-settings__skeleton' v-if='!categories.length && loading'/>
    <a-form
      class='projects-settings__form'
    >
      <a-form-item
        v-for="(item, index) in categories"
        :key="item.id"
        :label="index === 0 ? 'Categories' : ''"
        :required="false"
      >
        <a-input
          v-decorator="[
            `names[${item.id}]`,
            {
              validateTrigger: ['change', 'blur'],
              rules: [{
                required: true,
                whitespace: true,
                message: `Please input category's name or delete this field.`,
              }],
            }
          ]"
          @input='updateCategoryValue({id: item.id, value: $event.target.value})'
          :value='item.name'
          placeholder="Category's name"
          class='projects-settings__input'
        />
        <a-icon
          class="projects-settings__delete-button"
          type="minus-circle-o"
          @click="() => showRemoveConfirm(item.id)"
        />
        <bio-transition>
          <a-icon
            class="projects-settings__upload-button"
            type="cloud-upload"
            v-if='isNewCategory(item.id)'
            @click="() => ADD_CATEGORY(item)"
          />
        </bio-transition>
        <bio-transition>
          <a-icon
            class="projects-settings__upload-button"
            type="reload"
            :spin='isLoading(item.id)'
            v-if='isChangedCategory(item)'
            @click="() => preUpdateCategory(item)"
          />
        </bio-transition>
      </a-form-item>
      <a-form-item>
        <a-button
          type="dashed"
          class='projects-settings__dash-button'
          @click="createCategory"
        >
          <a-icon type="plus" /> Add Category
        </a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex';
import { REMOVE_CATEGORY, ADD_CATEGORY, UPDATE_CATEGORY, GET_CATEGORIES } from '../../../constants';

export default {
  data() {
    return {
      loadings: [],
    }
  },
  computed: {
    ...mapState({
      categories: state => state.projects.categories,
      loading: state => state.loading,
    }),
    ...mapGetters('projects', [
      'isNewCategory',
      'isChangedCategory',
    ])
  },
  methods: {
    ...mapMutations('projects', {
      createCategory: ADD_CATEGORY,
      updateCategoryValue: UPDATE_CATEGORY,
    }),
    ...mapActions('projects', [
      REMOVE_CATEGORY,
      ADD_CATEGORY,
      UPDATE_CATEGORY,
      GET_CATEGORIES,
    ]),
    showRemoveConfirm(id) {
      this.$confirm({
        title: 'Are you sure delete this category?',
        okText: 'Yes',
        okType: 'danger',
        cancelText: 'No',
        onOk: () => {
          this[REMOVE_CATEGORY](id)
        },
        onCancel() {},
      });
    },
    async preUpdateCategory(item) {
      this.loadings.push(item.id);
      await this.UPDATE_CATEGORY(item);
      const idx = this.$lodash.findIndex(this.loadings, { id: item.id })
      this.loadings.splice(idx, 1);
    },
    isLoading(id) {
      return this.loadings.some(item => item === id);
    },
  },
  created() {
    this[GET_CATEGORIES]();
  }
};
</script>
<style lang='scss'>
.projects-settings {
  padding: 32px;
  @include media {
    max-width: 600px;
  }
  &__input {
    max-width: 70%;
    margin-right: 16px;
  }
  &__upload-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-left: 12px;
    transition: all .3s;
    @include text(24px, 500, $B100);
    @include media {
      &:hover {
        color: $B300;
      }
    }
    &:active {
      color: $B400;
    }
  }
  &__delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    transition: all .3s;
    @include text(24px, 500, #999);
    @include media {
      &:hover {
        color: #777;
      }
    }
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  &__dash-button {
    width: 100%;
  }
}
</style>