<template>
  <div class='user-projects'>
    <bio-project-card :item='item' v-for='item in projects' :key='item.id'/>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import { GET_PROJECTS } from '../../constants';

export default {
  name: 'AppCreatedProjects',
  methods: {
    ...mapActions('projects', [
      GET_PROJECTS,
    ]),
  },
  computed: {
    ...mapGetters('projects', [
      'userProjects',
    ]),
    projects() {
      return this.userProjects(Number(this.$route.params.id))
    },
  },
  async created() {
    await this[GET_PROJECTS]();
  },
}
</script>
<style lang="scss">
.user-projects {
  padding: 32px 16px;
  @include flex-row(flex-start, stretch);
  flex-wrap: wrap;
}
</style>

