<template>
  <a-table
    :columns="columns"
    :dataSource="investedProjects"
    :pagination="false"
    :scroll="{ y: 'calc(100vh - 190px)' }"
    :loading="loading"
    @change="handleTableChange"
  >
    <router-link slot="project_name" slot-scope="project_name, item" :to="`/project/${item.project_id}`">{{
      project_name
    }}</router-link>
    <span slot="amount" slot-scope="amount"
      >${{ amount | numeral('0,0') }}</span
    >
    <bio-card-number slot="card" slot-scope="card" :card="card" />
    <span slot="date" slot-scope="date">{{ date | moment('DD/MM/YYYY') }}</span>
    <span slot="equity" slot-scope="equity">{{ equity || 0 | numeral('0.[00]') }}%</span>
    <bio-status slot="status" slot-scope="status" :status="status" />
  </a-table>
</template>
<script>
import { mapState, mapActions } from 'vuex';
import { GET_TRANSACTIONS, GET_PROJECTS } from '../../constants';

export default {
  name: 'ProjectsActiveTable',
  data() {
    return {
      sortedInfo: null,
    };
  },
  computed: {
    ...mapState({
      transactions: state => state.transactions.transactions,
      projects: state => state.projects.projects,
      loading: state => state.loading,
    }),
    investedProjects() {
      const { transactions, projects } = this;
      if (!(transactions.length && projects.length)) return [];
      const { id: investorId } = this.$route.params;
      const filtered = transactions.filter(({ user_id }) => Number(user_id) === Number(investorId));
      const maped = filtered.map((item) => {
        const project = projects.find(({id}) => Number(id) === Number(item.project_id));
        return {
          id: item.id,
          key: item.id,
          project_name: project.name,
          project_id: project.id,
          amount: item.amount,
          card: item.card,
          date: item.date,
          equity: project.equity,
          status: item.status,
        }
      });
      return maped;
    },
    columns() {
      let { sortedInfo } = this;
      sortedInfo = sortedInfo || {};
      const columns = [
        {
          title: `Project`,
          key: 'project_name',
          dataIndex: 'project_name',
          sorter: (a, b) => this.$utils.sortByString(a, b, 'project_name'),
          sortOrder: sortedInfo.columnKey === 'project_name' && sortedInfo.order,
          scopedSlots: { customRender: 'project_name' },
        },
        
        {
          title: 'Investment amount',
          dataIndex: 'amount',
          width: '20%',
          key: 'amount',
          sorter: (a, b) => this.$utils.sortByNumber(a, b, 'amount'),
          sortOrder: sortedInfo.columnKey === 'amount' && sortedInfo.order,
          scopedSlots: { customRender: 'amount' },
        },
        {
          title: 'Payment method',
          dataIndex: 'card',
          width: '20%',
          key: 'card',
          sorter: (a, b) => this.$utils.sortByNumber(a, b, 'card'),
          sortOrder: sortedInfo.columnKey === 'card' && sortedInfo.order,
          scopedSlots: { customRender: 'card' },
        },
        {
          title: 'Investment date',
          dataIndex: 'date',
          width: '14%',
          key: 'date',
          sorter: (a, b) => this.$utils.sortByDate(a, b, 'date'),
          sortOrder: sortedInfo.columnKey === 'date' && sortedInfo.order,
          scopedSlots: { customRender: 'date' },
        },
        {
          title: 'Equity',
          dataIndex: 'equity',
          width: 140,
          key: 'equity',
          sorter: (a, b) => this.$utils.sortByNumber(a, b, 'equity'),
          sortOrder: sortedInfo.columnKey === 'equity' && sortedInfo.order,
          scopedSlots: { customRender: 'equity' },
        },
        {
          title: 'Status',
          dataIndex: 'status',
          width: 160,
          key: 'status',
          sorter: (a, b) => this.$utils.sortByString(a, b, 'status'),
          sortOrder: sortedInfo.columnKey === 'status' && sortedInfo.order,
          scopedSlots: { customRender: 'status' },
        },
      ];
      return columns;
    },
  },
  methods: {
    ...mapActions({
      GET_TRANSACTIONS: `transactions/${GET_TRANSACTIONS}`,
      GET_PROJECTS: `projects/${GET_PROJECTS}`
    }),
    handleTableChange(pagination, filters, sorter) {
      this.sortedInfo = sorter;
    },
  },
  async created() {
    await this[GET_PROJECTS]();
    await this[GET_TRANSACTIONS]();
  },
};
</script>
