<template>
  <div class='user-info-personal'>
    <h2>Personal info</h2>
    <a-skeleton
      active
      :title='false'
      :paragraph='{rows: 6, width: "100%"}'
      class='user-info-personal__skeleton'
      v-if='loading'/>
    <a-form
      class='user-info-personal__form'
      layout="vertical"
      v-else
    >
      <a-form-item
        label="Full name:"
        :validateStatus="nameStatus"
        :help="nameErrorMessage"
      >
        <a-input
          class='user-info-personal__input'
          type='text'
          size='large'
          :value="$v.formData.name.$model"
          @input="updateName"
          :read-only='isAdmin'
        />
      </a-form-item>
      <a-form-item
        label="Date of birth:"
        :validateStatus="isBirthError ? 'warning' : 'success'"
        :help="dateErrorMessage(isBirthError)"
        v-if='!isAdmin'
      >
        <bio-date-picker
          :value="formData.date_birth"
          @error="onBirthError"
          @input="updateDate"
          class='user-info-personal__input'
        />
      </a-form-item>
      <a-form-item
        label="Email:"
        has-feedback
        :validateStatus="emailStatus"
        :help="emailErrorMessage"
      >
        <a-input
          class='user-info-personal__input'
          type='email'
          size='large'
          :value="$v.formData.email.$model"
          @input="updateEmail"
          :read-only='isAdmin'
        />
      </a-form-item>
      <a-form-item
        label="Role:"
        v-if='isAdmin'
      >
        <a-select size='large' v-model='formData.role' disabled class='user-info-personal__input'>
          <a-select-option value="admin">Admin</a-select-option>
          <a-select-option value="entrepreneur">Entrepreneur</a-select-option>
          <a-select-option value="Investor">Investor</a-select-option>
        </a-select>
      </a-form-item>
    </a-form>
  </div>
</template>
<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import validationMixin from '@/mixins/validationMixin';
import { UPDATE_USER_OPTION } from '../../constants';

export default {
  name: "AppUserInfoPersonal",
  mixins: [validationMixin],
  computed: {
    ...mapState('users', {
      loading: state => state.loading,
      user: state => state.user,
      formData: state => state.formData,
    }),
    ...mapGetters('users', [
      'isAdmin'
    ]),
  },
  methods: {
    ...mapMutations('users', [
      UPDATE_USER_OPTION,
    ]),
    updateEmail(e) {
      this.$v.formData.email.$touch();
      this[UPDATE_USER_OPTION](['email', e.target.value]);
    },
    updateDate(e) {
      this[UPDATE_USER_OPTION](['date_birth', e]);
    },
    updateName(e) {
      this.$v.formData.name.$touch();
      this[UPDATE_USER_OPTION](['name', e.target.value]);
    },
  }
};
</script>
<style lang="scss">
.user-info-personal {
  flex: 1 1;
  @include media {
    max-width: 320px;
  }
  &__skeleton {
    margin-top: 32px;
  }
  &__input {
    &--datepicker {
      pointer-events: none;
    }
  }
  
}
</style>
