<template>
  <div class="user-info">
    <app-user-info-personal class="user-info__form" />
    <app-user-info-address class="user-info__form" v-if="!isAdmin" />
    <app-user-info-account-info class="user-info__form" v-if="!isAdmin" />
  </div>
</template>
<script>
import AppUserInfoPersonal from './AppUserInfoPersonal';
import AppUserInfoAddress from './AppUserInfoAddress';
import AppUserInfoAccountInfo from './AppUserInfoAccountInfo';
import { mapGetters } from 'vuex';

export default {
  name: 'AppUserInfo',
  components: {
    AppUserInfoPersonal,
    AppUserInfoAddress,
    AppUserInfoAccountInfo,
  },
  computed: {
    ...mapGetters('users', ['isAdmin']),
  },
};
</script>
<style lang="scss">
.user-info {
  padding: 16px 32px 32px;
  @include flex-row;
  &__form {
    margin-right: 64px;
    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
