<template>
  <div class="user-info-account-info">
    <h2>Account info</h2>
    <a-skeleton
      active
      :title="false"
      :paragraph="{ rows: 4, width: '100%' }"
      class="user-info-account-info__skeleton"
      v-if="loading"
    />
    <a-form class="user-info-account-info__form" layout="vertical" v-else>
      <a-form-item class="user-info-account-info__item" label="Sign up date:">
        <span class='user-info-account-info__value'>{{ user.signup_date }}</span>
      </a-form-item>
      <a-form-item class="user-info-account-info__item" label="Confirmation email:">
        <bio-status :status="user.email_confirmed ? 'confirmed' : 'not confirmed'" />
      </a-form-item>
      <a-form-item class="user-info-account-info__item" label="Balance:">
        <span class='user-info-account-info__value'>{{ user.balance | numeral('0,0') }}</span>
      </a-form-item>
      <a-form-item class="user-info-account-info__item user-info-account-info__item--select" label="Role:">
        <a-select size='large' v-model='role' style="width: 180px">
          <a-select-option value="admin">Admin</a-select-option>
          <a-select-option value="entrepreneur">Entrepreneur</a-select-option>
          <a-select-option value="Investor">Investor</a-select-option>
        </a-select>
      </a-form-item>
    </a-form>
  </div>
</template>
<script>
import { mapState, mapMutations } from 'vuex';
import { UPDATE_USER_OPTION } from '../../constants';

export default {
  name: 'AppUserInfoAccountInfo',
  computed: {
    ...mapState('users', {
      loading: state => state.loading,
      user: state => state.user,
      formData: state => state.formData,
    }),
    role: {
      get() {
        return this.formData.role;
      },
      set(e) {
        this[UPDATE_USER_OPTION](['role', e]);
      },
    }
  },
  methods: {
    ...mapMutations('users', [
      UPDATE_USER_OPTION,
    ])
  }
};
</script>
<style lang="scss">
.user-info-account-info {
  flex: 1 1;
  @include media {
    max-width: 300px;
  }
  &__skeleton {
    margin-top: 32px;
  }
  &__item.ant-form-item {
    margin-bottom: 24px;
    
    .ant-form-item-label {
      padding-bottom: 12px;
    }
    
  }
  &__item--select.ant-form-item {
      .ant-form-item-label {
        padding-bottom: 10px;
      }
    }
  &__value {
    @include text($H500, 500, $N8);
  }
}
</style>