<template>
  <div class="user-info-address">
    <h2>Address</h2>
    <a-skeleton
      active
      :title="false"
      :paragraph="{ rows: 8, width: '100%' }"
      class="user-info-personal__skeleton"
      v-if="loading"
    />
    <template v-else>
      <a-form class="user-info-address__form" layout="vertical">
        <a-form-item label="Address:">
          <a-input
            class="user-info-address__input"
            type="text"
            size="large"
            v-model="address"
          />
        </a-form-item>
        <a-form-item label="Country:">
          <a-auto-complete
            :dataSource="countryList.getNames()"
            class="user-info-address__input"
            size="large"
            v-model='country'
            :filterOption="filterOption"
          />
        </a-form-item>
        <a-form-item label="Postcode:">
          <a-input
            class="user-info-address__input"
            type="text"
            size="large"
            v-model="postcode"
          />
        </a-form-item>
        <a-form-item label="House no./name:">
          <a-input
            class="user-info-address__input"
            type="text"
            size="large"
            v-model="house"
          />
        </a-form-item>
        <a-form-item label="Address line 2:">
          <a-input
            class="user-info-address__input"
            type="text"
            size="large"
            v-model="address_line_1"
          />
        </a-form-item>
        <a-form-item label="Address line 2:">
          <a-input
            class="user-info-address__input"
            type="text"
            size="large"
            v-model="address_line_2"
          />
        </a-form-item>
        <a-form-item label="City:">
          <a-input
            class="user-info-address__input"
            type="text"
            size="large"
            v-model="city"
          />
        </a-form-item>
      </a-form>
    </template>
  </div>
</template>
<script>
const countryList = require('country-list');
import { mapState, mapMutations } from "vuex";
import { UPDATE_USER_OPTION } from '../../constants';

export default {
  name: "AppUserInfoAddress",
  data() {
    return {
      countryList,
    }
  },
  computed: {
    ...mapState('users', {
      loading: state => state.loading,
      formData: state => state.formData,
    }),
    address: {
      get() {
        return this.formData.address;
      },
      set(e) {
        console.log(e)
        this[UPDATE_USER_OPTION](['address', e]);
      }
    },
    country: {
      get() {
        return this.formData.country;
      },
      set(e) {
        this[UPDATE_USER_OPTION](['country', e]);
      }
    },
    postcode: {
      get() {
        return this.formData.postcode;
      },
      set(e) {
        this[UPDATE_USER_OPTION](['postcode', e]);
      }
    },
    house: {
      get() {
        return this.formData.house;
      },
      set(e) {
        this[UPDATE_USER_OPTION](['house', e]);
      }
    },
    address_line_1: {
      get() {
        return this.formData.address_line_1;
      },
      set(e) {
        this[UPDATE_USER_OPTION](['address_line_1', e]);
      }
    },
    address_line_2: {
      get() {
        return this.formData.address_line_2;
      },
      set(e) {
        this[UPDATE_USER_OPTION](['address_line_2', e]);
      }
    },
    city: {
      get() {
        return this.formData.city;
      },
      set(e) {
        this[UPDATE_USER_OPTION](['city', e]);
      }
    },
  },
  methods: {
    ...mapMutations('users', [
      UPDATE_USER_OPTION,
    ]),
    filterOption(input, option) {
      return option.componentOptions.children[0].text.toUpperCase().indexOf(input.toUpperCase()) >= 0
    }
  }
};
</script>
<style lang="scss">
.user-info-address {
  flex: 1 1;
  @include media {
    max-width: 300px;
  }
  &__skeleton {
    margin-top: 32px;
  }
}
</style>