@import 'variables';
@import 'mixins';

%back-link {
  font-size: $H400;
  font-weight: 500;
  margin-bottom: 12px;
  @include flex-row(flex-start, center);
  width: fit-content;
  span, p {
    margin-left: 8px;
  }
  i {
    font-size: $H500;
  }
}

%empty {
  padding: 40px;
  max-width: 100%;
  text-align: center;
}

%empty-icon {
  font-size: 70px;
}