@mixin flex-row($justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-col($justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin text($size, $weight: 400, $color: white) {
  font: {
    size: $size;
    weight: $weight;
  }
  color: $color;
  @content;
}

@mixin size($size, $round: false) {
  width: $size;
  height: $size;
  flex-shrink: 0;
  @if $round {
    border-radius: 50%;
  }
  @content;
}

@mixin svg($size: 16px, $color: black) {
  width: $size;
  height: $size;
  fill: $color;
  transition-property: fill, opacity, transform, stroke;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  @content;
}

@mixin background-gradient($color1, $color2) {
  background: -webkit-linear-gradient(90deg, $color1 ,$color2);  
  background: -moz-linear-gradient(90deg, $color1, $color2);  
  background: -o-linear-gradient(90deg, $color1, $color2);  
  background: linear-gradient(90deg, $color1, $color2);
  transition-duration: 0.5s;
}

@mixin transition($types...) {
  transition-property: $types;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  @content;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}


$z-index: (immortal : 100,
  popup4 : 17,
  popup3 : 17,
  popup2 : 16,
  popup : 15,
  drawer : 12,
  navigation : 10,
  popover : 3,
  dropdown : 2,
  wrapper : 1,
  default : 0,
  under : -1,
);

@mixin z-index($key: default) {
  z-index: z-index($key);
}

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin media($screen: $screen-pc) {
  @media screen and (min-width: $screen) {
    @content;
  }
}