// NATURALS

$N0: #ffffff;
$N1: #F9FAFB;
$N2: #F4F6F8;
$N3: #DFE3E8;
$N4: #C4CDD5;
$N5: #919EAB;
$N6: #637381;
$N7: #454F5B;
$N8: #212B36;
$N100: black;
$N800: #172B4D;

// BLUE

$B1: #EBF5FA;
$B2: #B4E0FA;
$B3: #488AFF;
$B4: #084E8A;
$B300: #00B8D9;
$B400: #0052CC;
$B100: #1890ff;

// GREEN

$G1: #EBFFF7;
$G2: #C5EBDC;
$G3: #40D991;
$G4: #46C492;
$G5: #2cb17c;
$G6: #008F56;
$G100: hsl(141, 71%, 48%);
$G300: #36B37E;

// YELLOW

$Y1: #FCF1CD;
$Y2: #FFEA8A;
$Y3: #EEC200;
$Y300: #FFAB00;

// RED

$R1: #FBEAE5;
$R2: #FA9A88;
$R3: #DE3618;
$R4: #BF1D08;
$R300: #FF5630;

$P300: #6554C0;


$shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
$shadow-dark: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
$shadow-large: 0 12px 24px 0 rgba(0, 0, 0, 0.24);


$nav-width: 290px;
// SIZE:

@function px_to_rem($target, $context: $base-size) {
	@if $target==0 {
		@return 0
	}

	@return $target / $context+0rem;
}

$base-size: 16px;

$H950: px_to_rem(50px);
$H900: px_to_rem(42px);
$H850: px_to_rem(32px);
$H800: px_to_rem(24px);
$H700: px_to_rem(22px);
$H600: px_to_rem(18px);
$H500: px_to_rem(16px);
$H400: px_to_rem(14px);
$H300: px_to_rem(13px);
$H200: px_to_rem(12px);
$H100: px_to_rem(11px);


// FONTS:

$main-font: 'Roboto', sans-serif;

// SCREENS

$screen-iphone-6: 375px;
$screen-iphone-plus: 414px;
$screen-tablet-small: 480px;
$screen-tablet-medium: 600px;
$screen-tablet: 768px;
$screen-pc: 800px;
$screen-tablet-large: 860px;
$screen-netbook: 960px;
$screen-desktop: 1024px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1440px;
$screen-retina: 1660px;
