<template>
  <a-table
    :columns="columns"
    :dataSource="transactions"
    :pagination="false"
    :scroll="{ y: 'calc(100vh - 180px)' }"
    :loading="loading"
    @change="handleTableChange"
  >
    <router-link slot="name" slot-scope="name, item" :to="`/user/${item.user_id}`">{{
      name
    }}</router-link>
    <bio-card-number slot="card" slot-scope="card" :card="card" />
    <span slot="date" slot-scope="date">{{ date | moment('DD/MM/YYYY') }}</span>
    <span slot="amount" slot-scope="amount"
      >${{ amount | numeral('0,0') }}</span
    >
    <bio-status slot="status" slot-scope="status" :status="status" />
  </a-table>
</template>
<script>
import { mapState, mapActions } from 'vuex';
import { GET_TRANSACTIONS } from '../../constants';

export default {
  name: 'TransactionsTable',
  data() {
    return {
      sortedInfo: null,
    };
  },
  computed: {
    ...mapState('transactions', {
      transactions: state => state.transactions,
      loading: state => state.loading,
    }),
    columns() {
      let { sortedInfo } = this;
      sortedInfo = sortedInfo || {};
      const columns = [
        {
          title: `Investor's full name`,
          key: 'name',
          dataIndex: 'name',
          sorter: (a, b) => this.$utils.sortByString(a, b, 'name'),
          sortOrder: sortedInfo.columnKey === 'name' && sortedInfo.order,
          scopedSlots: { customRender: 'name' },
        },
        {
          title: 'Date',
          dataIndex: 'date',
          width: '14%',
          key: 'date',
          sorter: (a, b) => this.$utils.sortByDate(a, b, 'date'),
          sortOrder: sortedInfo.columnKey === 'date' && sortedInfo.order,
          scopedSlots: { customRender: 'date' },
        },
        {
          title: 'Card',
          dataIndex: 'card',
          width: '20%',
          key: 'card',
          sorter: (a, b) => this.$utils.sortByNumber(a, b, 'card'),
          sortOrder: sortedInfo.columnKey === 'card' && sortedInfo.order,
          scopedSlots: { customRender: 'card' },
        },
        {
          title: 'Amount',
          dataIndex: 'amount',
          width: '20%',
          key: 'amount',
          sorter: (a, b) => this.$utils.sortByNumber(a, b, 'amount'),
          sortOrder: sortedInfo.columnKey === 'amount' && sortedInfo.order,
          scopedSlots: { customRender: 'amount' },
        },
        {
          title: 'Status',
          dataIndex: 'status',
          width: 160,
          sorter: (a, b) => this.$utils.sortByString(a, b, 'status'),
          sortOrder: sortedInfo.columnKey === 'status' && sortedInfo.order,
          scopedSlots: { customRender: 'status' },
        },
      ];
      return columns;
    },
  },
  methods: {
    ...mapActions('transactions', [GET_TRANSACTIONS]),
    handleTableChange(pagination, filters, sorter) {
      this.sortedInfo = sorter;
    },
  },
  created() {
    this.GET_TRANSACTIONS();
  },
};
</script>
