<template>
  <router-link
    :to='{ name: route }'
    :tag="tag"
    class='navigation-link'
    :class='{"active": routes.some(i => i === $route.name)}'>
    <slot />
    <span calss='navigation-link__text'>{{ label }}</span>
  </router-link>
</template>
<script>
export default {
  name: 'NavigationLink',
  props: {
    label: {
      type: String,
      default: '',
    },
    tag: {
      type: String,
      default: 'li',
    },
    route: {
      type: String,
      required: true,
    },
    routes: {
      type: Array,
      default() {
        return [];
      },
    },
  }
}
</script>
<style lang="scss">
.navigation-link {
  position: relative;
  cursor: pointer;
  @include flex-row(flex-start, center);
  margin-bottom: 14px;
  @include transition(background-color) {
    transition-duration: 0.3s;
  };
  padding: 8px 14px;
  @include text($H500, 500, $N0);
  border-radius: 5px;
  @include media {
    &:hover {
      background-color: darken($G5, 5%);
    }
  }
  &:active {
    background-color: darken($G5, 8%);
  }
  &.active, &.router-link-active {
    &:before {
      content: '';
      position: absolute;
      left: -12px;
      @include size(6px, true);
      background-color: $N0;
      animation: fadeIn 0.5s ease;
    }
  }
  i, svg {
    margin-right: 12px;
    @include svg(22px, $N0);
  }
}
</style>
