<template>
  <div class="projects-requests">
    <a-modal
      title="Reject an application"
      :visible="visible"
      @ok="reject"
      @cancel="handleCancel"
      :confirmLoading="isLoading.reject"
    >
      <template slot="footer">
        <a-button key="back" @click="handleCancel">Cancel</a-button>
        <a-button
          key="submit"
          type="primary"
          :loading="loading"
          @click="reject"
        >
          Send
        </a-button>
      </template>
      <p key="label" class="projects-requests__modal-label">Add a comment</p>
      <a-textarea
        key="input"
        placeholder="Comment..."
        :autosize="{ minRows: 6, maxRows: 8 }"
      />
    </a-modal>
    <a-table
      :columns="columns"
      :dataSource="projects"
      :pagination="false"
      :scroll="{ y: 'calc(100vh - 180px)' }"
      :loading="loading"
      class="projects-requests__table"
      @change="handleTableChange"
    >
      <router-link
        class="projects-requests__name-link"
        :to="`/project/${item.id}`"
        slot="project"
        slot-scope="name, item"
        >{{ name }}</router-link
      >
      <router-link
        class="projects-requests__name-link"
        :to="`/user/${item.creator_id}`"
        slot="creator"
        slot-scope="creator, item"
        >{{ creator }}</router-link
      >
      <span slot="date" slot-scope="request_date">{{
        request_date | moment('DD/MM/YYYY')
      }}</span>
      <span slot="amount" slot-scope="amount, item"
        >${{ amount | numeral('0,0') }} ({{ item.amount_status }})</span
      >
      <bio-status slot="status" slot-scope="status" :status="status" />
      <div
        slot="buttons"
        class="projects-requests__buttons"
        slot-scope="id, item"
      >
        <a-button
          class="projects-requests__button-approve"
          size="small"
          type="primary"
          v-if="item.status.toLowerCase() !== 'approved'"
          :loading="isLoading.approve === id"
          @click="approve(id)"
          >Approve</a-button
        >
        <a-button
          class="projects-requests__button-reject"
          size="small"
          v-if="item.status.toLowerCase() !== 'rejected'"
          type="danger"
          @click="showModal(id)"
          >Reject</a-button
        >
      </div>
    </a-table>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
import {
  APPROVE_PROJECT,
  REJECT_PROJECT,
} from '../../../constants';

export default {
  name: 'AppProjectsRequest',
  data() {
    return {
      isLoading: {
        approve: null,
        reject: false,
      },
      visible: false,
      selectedId: null,
      sortedInfo: null,
    };
  },
  computed: {
    ...mapState('projects', {
      projects: state => state.projects,
      loading: state => state.loading,
    }),
    columns() {
      let { sortedInfo } = this;
      sortedInfo = sortedInfo || {};
      const columns = [
        {
          title: 'Projects',
          dataIndex: 'name',
          key: 'name',
          width: '20%',
          sorter: (a, b) => this.$utils.sortByString(a, b, 'name'),
          sortOrder: sortedInfo.columnKey === 'name' && sortedInfo.order,
          scopedSlots: { customRender: 'project' },
        },
        {
          title: 'Project Creator',
          dataIndex: 'creator',
          key: 'creator',
          width: '20%',
          sorter: (a, b) => this.$utils.sortByString(a, b, 'creator'),
          sortOrder: sortedInfo.columnKey === 'creator' && sortedInfo.order,
          scopedSlots: { customRender: 'creator' },
        },
        {
          title: 'Attracted amount',
          dataIndex: 'amount',
          width: '18%',
          key: 'amount',
          sorter: (a, b) => this.$utils.sortByNumber(a, b, 'amount'),
          sortOrder: sortedInfo.columnKey === 'amount' && sortedInfo.order,
          scopedSlots: { customRender: 'amount' },
        },
        {
          title: 'Request date',
          dataIndex: 'request_date',
          width: 200,
          key: 'request_date',
          sorter: (a, b) => this.$utils.sortByDate(a, b, 'request_date'),
          sortOrder: sortedInfo.columnKey === 'request_date' && sortedInfo.order,
          scopedSlots: { customRender: 'date' },
        },
        {
          title: 'Status',
          key: 'status',
          sorter: (a, b) => this.$utils.sortByString(a, b, 'status'),
          sortOrder: sortedInfo.columnKey === 'status' && sortedInfo.order,
          dataIndex: 'status',
          width: 160,
          scopedSlots: { customRender: 'status' },
        },
        {
          width: 230,
          dataIndex: 'id',
          scopedSlots: { customRender: 'buttons' },
        },
      ];
      return columns;
    },
  },
  methods: {
    ...mapActions('projects', [
      APPROVE_PROJECT,
      REJECT_PROJECT,
    ]),
    handleTableChange(pagination, filters, sorter) {
      this.sortedInfo = sorter;
    },
    showModal(id) {
      this.selectedId = id;
      this.visible = true;
    },
    handleCancel() {
      this.visible = false;
    },
    async approve(id) {
      this.isLoading.approve = id;
      await this[APPROVE_PROJECT](id);
      this.isLoading.approve = null;
    },
    async reject() {
      this.isLoading.reject = true;
      await this[REJECT_PROJECT](this.selectedId);
      this.isLoading.reject = false;
      this.visible = false;
    },
  },
};
</script>
<style lang="scss">
.projects-requests {
  &__name-link {
    @include transition(all);
  }
  &__modal-label {
    margin-bottom: 8px;
  }
  &__button-approve {
    margin-right: 18px;
  }
  &__table {
    .ant-btn {
      padding: {
        left: 12px;
        right: 12px;
      }
    }
  }
}
</style>

