<template>
  <div class='navigation'>
    <ul class='navogation__list'>
      <navigation-link
        route='transactions'
        :routes='["home", "transactions"]'
        label='Transactions list'>
        <a-icon type="bar-chart" class='navigation__icon'/>
      </navigation-link>
      <navigation-link
        route='projects'
        :routes='["projects-requests", "projects-active", "projects-settings"]'
        label='Projects'>
        <a-icon type="thunderbolt" class='navigation__icon'/>
      </navigation-link>
      <navigation-link
        route='settings'
        label='Personal settings'>
        <a-icon type="setting" class='navigation__icon'/>
      </navigation-link>
      <navigation-link
        route='users'
        label='Users'>
        <a-icon type="user" class='navigation__icon'/>
      </navigation-link>
    </ul>
    <bio-transition>
      <div class='navigation__loading' v-if='loading'>
        <a-spin size='large'/>
        <span class='navigation__loading-text lightFade'>Fetching data...</span>
      </div>
    </bio-transition>
  </div>
</template>

<script>
import NavigationLink from './components/NavigationLink.vue';
import { mapState } from 'vuex';

export default {
  name: 'TheNavigation',
  components: {
    NavigationLink,
  },
  computed: {
    ...mapState({
      loading: state => state.loading,
    })
  }
}
</script>
<style lang="scss">
.navigation {
  position: fixed;
  left: 0;
  height: 100vh;
  width: $nav-width;
  background-color: $G5;
  padding: 32px;
  @include flex-col(space-between, stretch);
  &__loading {
    .ant-spin-dot i {
      color: $N0;
      background-color: $N0;
    }
  }
  &__loading-text {
    margin-left: 14px;
    @include text($H300, 400, $N0);
  }
}
</style>

