<template>
<div class='projects-page'>
  <bio-header title='Projects'/>
  <a-tabs v-model='activeTab' @change="callback">
    <a-tab-pane tab="Requests" key="projects-requests"><router-view/></a-tab-pane>
    <a-tab-pane tab="Active" key="projects-active"><router-view/></a-tab-pane>
    <a-tab-pane tab="Settings" key="projects-settings"><router-view/></a-tab-pane>
  </a-tabs>
</div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
import { GET_PROJECTS } from '../constants';

export default {
  data () {
    return {
      activeTab: 'projects-requests',
    }
  },
  methods: {
    ...mapActions('projects', [
      GET_PROJECTS,
    ]),
    callback (key) {
      this.$router.push({ name: key })
    },
    async checkTab({ name }) {
      await this.$nextTick();
      if (name === 'projects') {
        this.activeTab = 'projects-requests';
      } else if (this.activeTab !== name) {
        this.activeTab = name;
      }
      return;
    }
  },
  computed: {
    ...mapState('projects', {
      loading: state => state.loading,
    })
  },
  async beforeRouteUpdate(to, from, next) {
    await this.checkTab(to);
    next();
  },
  async created() {
    await this.checkTab(this.$route);
    await this[GET_PROJECTS]();
  }
}
</script>
<style lang="scss">
.projects-page {
  .ant-tabs-bar {
    margin: 0;
  }
}
</style>
