<template>
  <div class='project'>
    <div class="project__empty" v-if="notFound">
      <h2 class="project__empty-title">Project not found</h2>
      <a-icon class="project__empty-icon" type="frown" />
    </div>
    <template v-else>
      <bio-header :title="loading ? '' : project.name" class="project__header" :class='{ "active": hasChanges }'>
        <template #prev>
          <a href='#' @click='$router.go(-1)' class="project__link"
            ><i class="fas fa-angle-left project__link-icon" ></i>
            <span class='project__link-text'>Back</span>
          </a>
        </template>
        <template #right>
          <bio-has-changes
            :has-changes="hasChanges"
            :loading="uploading"
            @save-changes="UPDATE_PROJECT($route.params.id)"
            @cancel-changes="CANCEL_CHANGES"
            :devider="false"
          />
        </template>
        <a-skeleton active :title='{width: 300}' :paragraph='{rows: 0}' class='project__skeleton' v-if='loading'/>
      </bio-header>
      <div class='project__view'>
        <a-skeleton
          active
          :title='false'
          :paragraph='{rows: 12, width: 300}'
          class='project__skeleton'
          v-if='loading'/>
        <app-project />
      </div>
    </template>
  </div>
</template>
<script>
import AppProject from '../components/project/AppProject';
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex';
import { GET_PROJECT, GET_USER, UPDATE_PROJECT, CANCEL_CHANGES } from '../constants';

export default {
  name: 'Project',
  components: {
    AppProject,
  },
  data() {
    return {
      notFound: false,
    };
  },
  computed: {
    ...mapState('project', {
      project: state => state.project,
      loading: state => state.loading,
      uploading: state => state.uploading,
    }),
    ...mapGetters('project', [
      'hasChanges',
    ]),
  },
  methods: {
    ...mapMutations('project', [
      CANCEL_CHANGES,
    ]),
    ...mapActions({
      GET_PROJECT: `project/${GET_PROJECT}`,
      GET_USER: `users/${GET_USER}`,
      UPDATE_PROJECT: `project/${UPDATE_PROJECT}`,
    })
  },
  async created() {
    try {
      this.notFound = false;
      const id = await this[GET_PROJECT](this.$route.params.id);
      await this[GET_USER](id);
    } catch (e) {
      this.notFound = true;
    }
  },
}
</script>
<style lang="scss">
.project {
  &__skeleton {
    max-width: 300px;
    .ant-skeleton-title {
      height: 32px;
    }
  }
  &__header {
    transition: ease 1s;
    padding-bottom: 12px;
  }
  &__link {
    @extend %back-link;
  }
  &__empty {
    @extend %empty;
  }
  &__empty-icon {
    @extend %empty-icon;
  }
  &__view {
    padding: 24px 32px 0;
  }
  .active {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.12);
  }
}
</style>