<template>
  <div>
    <div class='settings-page'>
      <a-tabs
        v-model='activeTab'
        @change="callback"
      >
        <a-tab-pane
          tab="General"
          key="settings"
          forceRender
        >
          <router-view class='settings-page__view' />
        </a-tab-pane>
        <a-tab-pane
          tab="Security"
          key="settings-security"
          forceRender
        >
          <router-view class='settings-page__view' />
        </a-tab-pane>
      </a-tabs>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      activeTab: "settings"
    };
  },
  methods: {
    callback(key) {
      this.$router.push({ name: key });
    },
    async checkTab({ name }) {
      await this.$nextTick();
      if (this.activeTab !== name) {
        this.activeTab = name;
      }
      return;
    }
  },
  async beforeRouteUpdate(to, from, next) {
    await this.checkTab(to);
    next();
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.checkTab(vm.$route);
    });
  }
};
</script>
<style lang="scss">
.settings-page {
  padding: 32px 0;
  .ant-tabs-nav-wrap {
    padding: 0 32px;
  }
  &__view {
    padding: 16px 32px;
  }
}
</style>
