<template>
  <div class='transactions-page'>
    <bio-header title="Transaction's Page"/>
    <transactions-table/>
  </div>
</template>
<script>
import TransactionsTable from '../components/transactions/TransactionsTable';

export default {
  name: 'TransactionsPage',
  components: {
    TransactionsTable,
  }
}
</script>
