<template>
  <a-table
    :columns="columns"
    :dataSource="users"
    :pagination="false"
    :scroll="{ y: 'calc(100vh - 10px)' }"
    :loading="loading"
    @change="handleTableChange"
    class="users-page"
  >
    <router-link slot="name" slot-scope="name, item" :to="`/user/${item.id}`">{{
      name
    }}</router-link>
    <span slot="signup_date" slot-scope="signup_date">{{
      signup_date | moment('DD/MM/YYYY')
    }}</span>
    <bio-status
      slot="email_confirmed"
      slot-scope="email_confirmed"
      :status="email_confirmed ? 'Confirmed' : 'Not confirmed'"
    />
    <bio-status
      slot="kyc"
      slot-scope="kyc"
      :status="kyc ? 'Verified' : 'Not verified'"
    />
    <span slot="balance" slot-scope="balance"
      >$ {{ balance | numeral('0,0') }}</span
    >
    <span slot="role" class="users-page__role" slot-scope="role">{{
      role
    }}</span>
    <a-popover placement="leftBottom" class='users-page__ellipsis' slot="menu" slot-scope="id">
      <template slot="content">
        <div class='users-page__menu'>
          <router-link class='users-page__link' :to='{ name: "user", params: { id } }'>Open</router-link>
          <a @click.prevent='showRemoveConfirm(id)' class='users-page__link' href="#">Delete</a>
        </div>
      </template>
      <button><i class="fas fa-ellipsis-h"></i></button>
    </a-popover>
  </a-table>
</template>
<script>
import { mapState, mapActions } from 'vuex';
import { GET_USERS, REMOVE_USER } from '../constants';

export default {
  name: 'UsersPage',
  data() {
    return {
      sortedInfo: null,
      filteredInfo: null,
    };
  },
  computed: {
    ...mapState('users', {
      users: state => state.users,
      loading: state => state.loading,
    }),
    columns() {
      let { sortedInfo, filteredInfo } = this;
      sortedInfo = sortedInfo || {};
      filteredInfo = filteredInfo || {};
      const columns = [
        {
          title: 'Full name',
          dataIndex: 'name',
          key: 'name',
          sorter: (a, b) => this.$utils.sortByString(a, b, 'name'),
          sortOrder: sortedInfo.columnKey === 'name' && sortedInfo.order,
          width: '16%',
          scopedSlots: { customRender: 'name' },
        },
        {
          title: 'Email',
          dataIndex: 'email',
          width: '16%',
          key: 'email',
          sorter: (a, b) => this.$utils.sortByString(a, b, 'email'),
          sortOrder: sortedInfo.columnKey === 'email' && sortedInfo.order,
        },
        {
          title: 'Sing up date',
          dataIndex: 'signup_date',
          width: 160,
          key: 'signup_date',
          sorter: (a, b) => this.$utils.sortByDate(a, b, 'signup_date'),
          sortOrder: sortedInfo.columnKey === 'signup_date' && sortedInfo.order,
          scopedSlots: { customRender: 'signup_date' },
        },
        {
          title: 'Confirmation email',
          dataIndex: 'email_confirmed',
          width: 200,
          key: 'email_confirmed',
          filters: [
            { text: 'Confirmed', value: 'true' },
            { text: 'Not confirmed', value: 'false' },
          ],
          filteredValue: filteredInfo.email_confirmed || null,
          onFilter: (value, record) => value === String(record.email_confirmed),
          sorter: (a, b) => this.$utils.sortByBoolean(a, b, 'email_confirmed'),
          sortOrder: sortedInfo.columnKey === 'email_confirmed' && sortedInfo.order,
          scopedSlots: { customRender: 'email_confirmed' },
        },
        {
          title: 'KYC',
          dataIndex: 'kyc',
          width: 140,
          key: 'kyc',
          filters: [
            { text: 'Verified', value: 'true' },
            { text: 'Not verified', value: 'false' },
          ],
          filteredValue: filteredInfo.kyc || null,
          onFilter: (value, record) => value === String(record.kyc),
          sorter: (a, b) => this.$utils.sortByBoolean(a, b, 'kyc'),
          sortOrder: sortedInfo.columnKey === 'kyc' && sortedInfo.order,
          scopedSlots: { customRender: 'kyc' },
        },
        {
          title: 'Balance',
          dataIndex: 'balance',
          width: '14%',
          key: 'balance',
          sorter: (a, b) => this.$utils.sortByNumber(a, b, 'balance'),
          sortOrder: sortedInfo.columnKey === 'balance' && sortedInfo.order,
          scopedSlots: { customRender: 'balance' },
        },
        {
          title: 'Role',
          width: 180,
          dataIndex: 'role',
          key: 'role',
          filters: [
            { text: 'Entrepreneur', value: 'entrepreneur' },
            { text: 'Investor', value: 'investor' },
            { text: 'Admin', value: 'admin' },
          ],
          filteredValue: filteredInfo.role || null,
          onFilter: (value, record) => record.role.includes(value),
          sorter: (a, b) => this.$utils.sortByString(a, b, 'role'),
          sortOrder: sortedInfo.columnKey === 'role' && sortedInfo.order,
          scopedSlots: { customRender: 'role' },
        },
        {
          title: '',
          width: 60,
          dataIndex: 'id',
          key: 'menu',
          scopedSlots: { customRender: 'menu' },
        },
      ];
      return columns;
    },
  },
  methods: {
    ...mapActions('users', [GET_USERS, REMOVE_USER]),
    handleTableChange(pagination, filters, sorter) {
      this.sortedInfo = sorter;
      this.filteredInfo = filters;
    },
    showRemoveConfirm(id) {
      this.$confirm({
        title: 'Are you sure delete this user?',
        okText: 'Yes',
        okType: 'danger',
        cancelText: 'No',
        onOk: () => {
          this[REMOVE_USER](id);
        },
        onCancel() {},
      });
    },
  },
  async created() {
    await this[GET_USERS]();
  },
};
</script>
<style lang="scss">
.users-page {
  span {
    white-space: nowrap;
  }
  &__role {
    text-transform: capitalize;
  }
  &__ellipsis {
    padding: 2px;
    color: $B400;
    font-size: 16px;
    cursor: pointer;
  }
  &__menu {
    @include flex-col;
    padding: 0 14px 0 8px;
    a {
      text-decoration: none;
    }
  }
  &__link {
    &:first-child {
      margin-bottom: 4px;
    }
  }
}
</style>
