<template>
  
  <div class="user-page" >
    <div class="user-page__empty" v-if="notFound">
      <h2 class="user-page__empty-title">User not found</h2>
      <a-icon class="user-page__empty-icon" type="frown" />
    </div>
    <template v-else>
      <bio-header :title="loading ? '' : name" class="user-page__header">
        <template #prev>
          <router-link :to="{ name: 'users' }" class="user-page__link"
            ><i class="fas fa-angle-left user-page__link-icon"></i>
            <span class="user-page__link-text">Back to clients list</span>
          </router-link>
        </template>
        <template #right>
          <bio-has-changes
            :has-changes="hasChanges"
            :loading="uploading"
            @save-changes="UPDATE_USER($route.params.id)"
            @cancel-changes="CANCEL_CHANGES"
            :devider="false"
          />
        </template>
        <a-skeleton
          active
          :title="{ width: 300 }"
          :paragraph="{ rows: 0 }"
          class="user-page__skeleton"
          v-if="loading"
        />
      </bio-header>
      <a-tabs>
        <a-tab-pane tab="Personal info" key="1">
          <app-user-info />
        </a-tab-pane>
        <a-tab-pane tab="Created projects" key="2" v-if="isEnt">
          <app-created-projects />
        </a-tab-pane>
        <a-tab-pane tab="Invested projects" key="3" v-if="isInvestor">
          <app-invested-projects />
        </a-tab-pane>
      </a-tabs>
    </template>
  </div>
</template>
<script>
import AppUserInfo from '../components/user/AppUserInfo';
import AppCreatedProjects from '../components/user/AppCreatedProjects.vue';
import AppInvestedProjects from '../components/user/AppInvestedProjects.vue';
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex';
import { CANCEL_CHANGES, UPDATE_USER, GET_USER } from '../constants';

export default {
  components: {
    AppUserInfo,
    AppCreatedProjects,
    AppInvestedProjects,
  },
  data() {
    return {
      notFound: false,
    };
  },
  computed: {
    ...mapState('users', {
      name: state => state.user.name,
      formData: state => state.formData,
      loading: state => state.loading,
      uploading: state => state.uploading,
    }),
    ...mapGetters('users', ['hasChanges', 'isAdmin', 'isInvestor', 'isEnt']),
  },
  methods: {
    ...mapMutations('users', [CANCEL_CHANGES]),
    ...mapActions('users', [UPDATE_USER, GET_USER]),
  },
  async created() {
    try {
      this.notFound = false;
      await this[GET_USER](this.$route.params.id);
    } catch (e) {
      this.notFound = true;
    }
  },
};
</script>

<style lang="scss">
.user-page {
  &__link {
    @extend %back-link;
  }
  &__header {
    padding-bottom: 12px;
  }
  &__skeleton {
    .ant-skeleton-title {
      height: 32px;
    }
  }
  &__empty {
    @extend %empty;
  }
  &__empty-icon {
    @extend %empty-icon;
  }
}
</style>
