<template>
  <span>{{ prefix }}{{ animatedNumber | numeral('0,0') }}{{ sufix }}</span>
</template>
<script>
import { TweenLite } from 'gsap';

export default {
  name: 'BioAnimateNumber',
  props: {
    sufix: {
      type: [String, Number],
      default: '',
    },
    prefix: {
      type: [String, Number],
      default: '',
    },
    value: {
      type: [String, Number],
      required: true,
    },
    speed: {
      type: [String, Number],
      default: 1,
    },
  },
  data() {
    return {
      tweenedNumber: 0,
    }
  },
  methods: {
    animate() {
      if (Number(this.tweenedNumber) !== Number(this.value)) {
        TweenLite.to(this.$data, Number(this.speed), { tweenedNumber: Number(this.value) });
      }
    }
  },
  computed: {
    animatedNumber() {
      return this.tweenedNumber;
    },
  },
  watch: {
    value() {
      this.animate();
    },
  },
  mounted() {
    this.animate();
  }
}
</script>