<template lang="pug">
.bio-loading
  a-spin(:pinning='loading')
</template>
<script>
export default {
  name: 'BioLoading',
  props: {
    loading: {
      type: Boolean,
      required: true,
    }
  }
}
</script>
<style lang="scss">
.bio-loading {
  position: fixed;
  z-index: 555;
  left: 24px;
  bottom: 24px;
  width: 300px;
  height: 200px;
}
</style>

