<template>
  <div class='bio-card-number'>
    <i class="fab fa-cc-visa bio-card-number__icon" v-if='bank === "visa"'></i>
    <i class="fab fa-cc-amex bio-card-number__icon" v-else-if='bank === "amex"'></i>
    <i class="fab fa-cc-mastercard bio-card-number__icon" v-else-if='bank === "master"'></i>
    <i class="fab fa-cc-diners-club bio-card-number__icon" v-else-if='bank === "diners"'></i>
    <i class="fab fa-cc-discover bio-card-number__icon" v-else-if='bank === "discover"'></i>
    <i class="fab fa-cc-jcb bio-card-number__icon" v-else-if='bank === "jcb"'></i>
    <i class="fas fa-credit-card bio-card-number__icon" v-else></i>
    <span v-html="formatedNumber" class='bio-card-number__text'></span>
  </div>
</template>
<script>
export default {
  name: 'BioCardNumber',
  props: {
    card: [Number, String],
  },
  computed: {
    formatedNumber() {
      const dot = '&#8226';
      const card = String(this.card).split('');
      card.splice(4, 0, ' ');
      card.splice(9, 0, ' ');
      card.splice(14, 0, ' ');
      card.splice(15, 4, dot, dot, dot, dot);
      const result = card.join('');
      return result;
    },
    bank() {
      const card = String(this.card);
      const MASTER = (/^51/g);
      const VISA = (/^4/g);
      const AMEX = (/^34/g);
      const DINERS = (/^300/g);
      const DISCOVER = (/^6011/g);
      const JCB = (/^35/g);

      if (MASTER.test(card)) {
        return 'master';
      } else if (DINERS.test(card)) {
        return 'diners';
      } else if (AMEX.test(card)) {
        return 'amex'
      } else if (JCB.test(card)) {
        return 'jcb'
      } else if (DISCOVER.test(card)) {
        return 'discover'
      } else if (VISA.test(card)) {
        return 'visa';
      } else {
        return 'default';
      }
    }
  }
}
</script>
<style lang="scss">
.bio-card-number {
  @include flex-row(flex-start, center);
  &__text {
    white-space: nowrap;
  }
  &__icon {
    font-size: $H600;
    margin-bottom: 1px;
    margin-right: 6px;
  }
}
</style>

