<template>
  <header class='header'>
    <slot name="prev"/>
    <div class='header__space'>
      <h1 class='header__title'>{{ title }}</h1>
      <slot name="right"/>
    </div>
    <slot/>
  </header>
</template>
<script>
export default {
  name: 'BioHeader',
  props: {
    title: {
      type: String,
      default: '',
    },
  }
}
</script>
<style lang="scss">
.header {
  padding: 32px;
  background-color: $N0;
  &__space {
    @include flex-row(space-between, center);
  }
}
</style>


