<template>
  <router-link
    to='/projects'
    class='bio-project-card'
  >
    <a-card
      hoverable
      style="width: 300px"
      class="bio-project-card__card"
    >
      <div
        class="bio-project-card__cover"
        slot="cover"
      >
        <div class='bio-project-card__header'>
          <a-avatar
            class='bio-project-card__logo'
            shape="square"
            :size="64"
            icon='thunderbolt'
          />
          <h2 class='bio-project-card__title'>{{ item.name }}</h2>
          <button
            class='bio-project-card__star-button'
            @click.stop.prevent='toggleFavorite'
          >
            <a-icon
              :class='{"active": item.favorite}'
              :spin='isLoading.favorite'
              class='bio-project-card__star'
              type="star"
              theme='filled'
            />
          </button>
        </div>

        <img
          :alt="item.name"
          :src="item.image"
          v-if='item.image'
        />
      </div>

      <div class='bio-project-card__body'>
        <div class='bio-project-card__description'>{{ item.description }}</div>
        <div class='bio-project-card__info'>
          <ul class='bio-project-card__list'>
            <li class='bio-project-card__item'>
              <span class='bio-project-card__label'>Already invested</span>
              <span class='bio-project-card__value'>{{ item.invested | numeral('0,0.[00]') }} ({{ percents | numeral('0') }}%)</span>
            </li>
            <li class='bio-project-card__item'>
              <span class='bio-project-card__label'>Required amount</span>
              <span class='bio-project-card__value'>{{ item.amount | numeral('0,0.[00]') }}</span>
            </li>
          </ul>
          <a-progress
            :percent="percents"
            class='bio-project-card__progress'
            :strokeColor='progressColor'
            status="active"
            :showInfo="false"
          />
          <ul class='bio-project-card__list'>
            <li class='bio-project-card__item'>
              <span class='bio-project-card__label'>Investors</span>
              <span class='bio-project-card__value'>{{ item.investors }}</span>
            </li>
            <li class='bio-project-card__item'>
              <span class='bio-project-card__label'>Equity offered</span>
              <span class='bio-project-card__value'>{{ item.equity || 0 | numeral('0') }}%</span>
            </li>
            <li class='bio-project-card__item'>
              <span class='bio-project-card__label'>Valuation</span>
              <span class='bio-project-card__value'>{{ item.valuation | numeral('0,0.[00]') }}</span>
            </li>
          </ul>
        </div>
      </div>
    </a-card>
  </router-link>
</template>
<script>
import { mapActions } from "vuex";
import { TOGGLE_PROJECT_FAVORITE } from "../../constants";

export default {
  name: "BioProjectCard",
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      checked: true,
      isLoading: {
        favorite: false
      }
    };
  },
  methods: {
    ...mapActions("projects", [TOGGLE_PROJECT_FAVORITE]),
    async toggleFavorite() {
      this.isLoading.favorite = true;
      await this[TOGGLE_PROJECT_FAVORITE](this.item.id);
      this.isLoading.favorite = false;
    }
  },
  computed: {
    percents() {
      return Math.floor(Number(this.item.invested) / (Number(this.item.amount) / 100)) || 0;
    },
    progressColor() {
      const x = 100 - Number(this.percents) + 10;
      const color = '#084E8A';
      return this.$utils.lightenDarkenColor(color, x);
    }
  }
};
</script>

<style lang="scss">
.bio-project-card {
  margin: 0 16px 32px;
  display: block;
  position: relative;
  flex: 1 1 100%;
  border: none;
  @include media($screen-netbook) {
    flex: 0 0 calc(50% - 32px);
  }
  @include media($screen-hd) {
    flex: 0 0 calc(33% - 32px);
  }
  @include media($screen-retina) {
    flex: 0 0 360px;
  }
  &__card {
    width: 100% !important;
    height: 100%;
    @include flex-col(stretch, stretch);
  }
  &__star-button {
    bottom: -40px;
    right: 16px;
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    @include transition(filter);
    &:active {
      filter: blur(1px);
    }
  }
  &__body {
    @include flex-col(space-between, stretch);
    flex: 1 1;
  }
  &__star {
    font-size: 24px;
    color: $N7;
    cursor: pointer;
    @include transition(color, filter);
    &.active {
      color: $Y300;
    }
  }
  &__title {
    margin: 0;
    padding: 4px 0 0 82px;
    font-size: px_to_rem(18px);
  }
  &__header {
    position: relative;
    min-height: 54px;
    padding: 12px 24px;
  }
  &__logo {
    position: absolute;
    top: 16px;
    &,
    * {
      font-size: 36px;
    }
  }
  .ant-card-cover {
    width: 100%;
    @include flex-col(stretch, stretch);
    overflow: hidden;
    flex: 0 1 320px;
    min-height: 120px;
    img {
      width: 100%;
      flex: 1 1;
      object-fit: cover;
    }
  }
  .ant-card-body {
    flex: 1 1;
    @include flex-col;
  }
  &__description {
    font-size: $H300;
    margin-bottom: 12px;
  }
  &__list {
    list-style: none;
    @include flex-row(space-between, flex-start);
    margin: 0;
  }
  &__progress {
    margin: 12px 0;
  }
  &__item {
    @include flex-col;
  }
  &__label {
    white-space: nowrap;
    font-weight: 500;
  }
}
</style>
