<template>
  <a-tag v-if='status' class='bio-status' :color="color">
    <slot>{{ status }}</slot>
  </a-tag>
</template>
<script>
export default {
  name: 'BioStatus',
  props: {
    status: String,
  },
  data() {
    return {
      colors: {
        default: '#0052CC',
        error: '#FF5630',
        success: 'hsl(141, 71%, 48%)',
        warning: '#FFAB00',
        extra: '#6554C0',
        none: '',
      },
      statuses: {
        default: ['default', 'active', 'normal', 'pending', 'confirmed'],
        error: ['failed', 'fail', 'error', 'reject', 'rejected'],
        success: ['success', 'applied', 'approved', 'activated', 'verified'],
        warning: ['warning'],
        extra: ['new application'],
        none: ['none', 'not confirmed', 'not verified'],
      }
    }
  },
  computed: {
    color() {
      const {0: status} = Object.entries(this.statuses).find((item) => {
        return item[1].some(subitem => this.status.toLowerCase() === subitem)
      })
      return this.colors[status] || '';
    }
  }
}
</script>
<style lang="scss">
.bio-status {
  &::first-letter {
    text-transform: capitalize;
  }
}
</style>

