<template>
  <div id="app" class='app'>
    <the-navigation />
    <bio-transition>
      <router-view class='app__view'/>
    </bio-transition>
  </div>
</template>
<script>
import TheNavigation from './components/navigation/TheNavigation';

export default {
  name: 'App',
  components: {
    TheNavigation,
  }
}
</script>
<style lang="scss">
.app {
  &__view {
    padding-left: $nav-width;
  }
}
</style>
