@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@import 'core/variables.scss';
@import 'animate';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $main-font;

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    width: 4px;
    background: $G6;
    border-radius: 20px;
  }
}

body {
  min-height: 100vh;
  font-family: $main-font;
  color: $N100;
}

div, section, article {
  color: $N100;
}


a, button, textarea, input {
  font-family: $main-font;
}

a, button {
  outline: none;
  border: none;
  background-color: transparent;
  &, &:visited, &:focus {
    text-decoration: none;
  }
}

a {
  @include transition(color, border-color, opacity, transform, outline, outline-color);
  @include media($screen-desktop) {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 2px 4px;
    position: relative;
    left: -4px;
    &:hover {
      border-color: $G6;
    }
  }
}

.ant-select-selection-selected-value {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
}

.ant-tabs-nav-wrap {
  padding: 0 32px;
}

.ant-tabs-tab {
  font-weight: 500;
}

.ant-btn {
  $size: 24px;
  padding: {
    left: $size;
    right: $size;
  }
}

.ant-input:focus {
  border-color: $B100;
}

.ant-btn-default:hover, .ant-btn-dashed:hover {
  border-color: lighten($B100, 10%);
  color: lighten($B100, 10%);
}

.ant-btn-default:active, .ant-btn-dashed:active {
  border-color: darken($B100, 10%);
  color: darken($B100, 10%);
}

.ant-btn-default:focus, .ant-btn-dashed:focus {
  border-color: lighten($B100, 10%);
  color: lighten($B100, 10%);
}

.ant-form-vertical .ant-form-item {
  margin-bottom: 12px;
}

.ant-skeleton-content .ant-skeleton-title {
  height: 28px;
}

.ant-skeleton-content .ant-skeleton-paragraph > li {
  height: 32px;
  margin-bottom: 20px;
}

.ant-form-item-label {
  white-space: normal;
}

.ant-radio-wrapper {
  font-weight: 600;
}

.avatar-uploader > .ant-upload {
  width: 102px;
  height: 102px;
}

.link {
  @include transition(color, border-color, opacity, transform, outline, outline-color);
  display: block;
  @include media($screen-desktop) {
    cursor: pointer;
    border: 1px solid transparent;
    color: #008F56;
    border-radius: 2px;
    padding: 2px 4px;
    position: relative;
    left: -4px;
    &:hover {
      border-color: $G6;
    }
    &:active {
      color: lighten(#008F56, 10%);
      border-color: lighten(#008F56, 10%);;
    }
  }
  &--red {
    color: $R3;
    &:hover {
      border-color: $R3;
    }
    &:active {
      color: lighten($R3, 10%);
      border-color: lighten($R3, 10%);;
    }
  }
}

.ant-upload-list-item-name, .ant-upload-list-item-thumbnail {
  &:hover {
    border-color: white;
    border-color: transparent;
  }
}

.ant-upload-list-item-name {
  position: relative;
  left: 8px;
}