<template>
  <div class='projects-active'>
    <bio-project-card :item='item' v-for='item in activeProjects' :key='item.id'/>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: 'AppProjectsActive',
  computed: {
    ...mapGetters('projects', [
      'activeProjects'
    ])
  },
}
</script>
<style lang="scss">
.projects-active {
  padding: 32px 16px;
  @include flex-row(flex-start, stretch);
  flex-wrap: wrap;
}
</style>

