<template>
  <div class='settings-security'>
    <app-settings-security-password/>
    <app-settings-security-two-factor/>
  </div>
</template>
<script>
import AppSettingsSecurityPassword from './AppSettingsSecurityPassword';
import AppSettingsSecurityTwoFactor from './AppSettingsSecurityTwoFactor';

export default {
  name: "AppSettingsSecurity",
  components: {
    AppSettingsSecurityPassword,
    AppSettingsSecurityTwoFactor,
  },
  data() {
    return {
      
    };
  },
};
</script>
