<template>
  <div class="settings-general">
    <a-skeleton
      active
      :title="{ width: '100%' }"
      :paragraph="{ rows: 6, width: '100%' }"
      class="settings-general__skeleton"
      v-if="!profile.id && globalLoading"
    />
    <a-form class="settings-general__form" layout="vertical" v-else>
      <a-form-item
        label="Full name:"
        has-feedback
        :validateStatus="nameStatus"
        :help="nameErrorMessage"
      >
        <a-input
          class="settings-general__input"
          type="text"
          size="large"
          :value="$v.formData.name.$model"
          @input="updateName"
        />
      </a-form-item>
      <a-form-item
        label="Date of birth:"
        :validateStatus="isBirthError ? 'warning' : 'success'"
        :help="dateErrorMessage(isBirthError)"
      >
        <bio-date-picker
          :value="formData.date_birth"
          @error="onBirthError"
          @input="updateDate"
          class="settings-general__input"
        />
      </a-form-item>
      <a-form-item
        label="Email:"
        has-feedback
        :validateStatus="emailStatus"
        :help="emailErrorMessage"
      >
        <a-input
          class="settings-general__input"
          type="email"
          size="large"
          :value="$v.formData.email.$model"
          @input="updateEmail"
        />
      </a-form-item>
      <a-form-item label="Confirmation email:">
        <bio-status
          :status="formData.email_confirmed ? 'confirmed' : 'not confirmed'"
        />
      </a-form-item>
    </a-form>

    <bio-has-changes
      :has-changes="hasChanges"
      :is-invalid="isInvalid"
      :loading="loading"
      @save-changes="save"
      @cancel-changes="CANCEL_CHANGES"
    />
  </div>
</template>
<script>
import validationMixin from '@/mixins/validationMixin';
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex';
import {
  GET_PROFILE,
  UPDATE_PROFILE_OPTION,
  CANCEL_CHANGES,
  UPDATE_PROFILE,
} from '../../constants';

export default {
  name: 'AppSettingsGeneral',
  mixins: [validationMixin],
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    ...mapMutations('profile', [UPDATE_PROFILE_OPTION, CANCEL_CHANGES]),
    ...mapActions('profile', [GET_PROFILE, UPDATE_PROFILE]),
    async save() {
      this.loading = true;
      await this[UPDATE_PROFILE]();
      this.loading = false;
    },
    updateEmail(e) {
      this.$v.formData.email.$touch();
      this[UPDATE_PROFILE_OPTION]({ name: 'email', value: e.target.value });
    },
    updateName(e) {
      this.$v.formData.name.$touch();
      this[UPDATE_PROFILE_OPTION]({ name: 'name', value: e.target.value });
    },
    updateDate(e) {
      this[UPDATE_PROFILE_OPTION]({ name: 'date_birth', value: e });
    },
  },
  computed: {
    ...mapState({
      formData: state => state.profile.formData,
      profile: state => state.profile.profile,
      globalLoading: state => state.loading,
    }),
    ...mapGetters('profile', ['hasChanges']),
    isInvalid() {
      return (
        this.$v.formData.name.$error ||
        this.$v.formData.email.$error ||
        this.isBirthError
      );
    },
  },
  created() {
    this[GET_PROFILE]();
  },
};
</script>
<style lang="scss">
.settings-general {
  @include media {
    max-width: 400px;
  }
  .fade-enter-active {
    animation-duration: 1s;
  }
  .fade-leave-active {
    animation-duration: 0.5s;
  }
  .ant-form-vertical .ant-form-item {
    margin-bottom: 12px;
  }
  &__row-center {
    @include flex-row(stretch, center);
    position: relative;
  }
  &__save-button {
    margin-right: 12px;
  }
  &__desc {
    @include text($H200, 400, $N6);
  }
  &__undo {
    margin-left: 10px;
  }
}
</style>
