<template>
  <div class='settings-security-password'>
    <h2>Change password</h2>
    <a-form
      class='settings-security-password__form'
      layout="vertical"
    >
      <a-form-item
        label="Current password:"
        class='settings-security-password__form-item'
        :class='{"success": !$v.currentPassword.$invalid}'
        :validateStatus='currentPasswordStatus'
        :help="currentPasswordErrorMessage"
      >
        <a-input
          class='settings-security-password__input'
          :type='currentPasswordType'
          size='large'
          v-model='currentPassword'
          @blur='$v.currentPassword.$touch()'
        >
          <button
            class='settings-security-password__icon-button'
            @click='currentPasswordType = "text"'
            v-if='currentPasswordType === "password"'
            slot="suffix"
          >
            <a-icon
              type="eye"
              class='settings-security-password__icon-input'
            />
          </button>
          <button
            class='settings-security-password__icon-button'
            @click='currentPasswordType = "password"'
            v-else
            slot="suffix"
          >
            <a-icon
              type="eye-invisible"
              class='settings-security-password__icon-input'
            />
          </button>
        </a-input>
      </a-form-item>
      <a-form-item
        label="New password:"
        class='settings-security-password__form-item'
        :class='{"success": !$v.newPassword.$invalid}'
        :validateStatus='newPasswordStatus'
        :help="newPasswordErrorMessage"
      >
        <a-input
          class='settings-security-password__input'
         :type='newPasswordType'
          size='large'
          v-model='newPassword'
          @blur='$v.newPassword.$touch()'
        >
          <button
            class='settings-security-password__icon-button'
            @click='newPasswordType = "text"'
            v-if='newPasswordType === "password"'
            slot="suffix"
          >
            <a-icon
              type="eye"
              class='settings-security-password__icon-input'
            />
          </button>
          <button
            class='settings-security-password__icon-button'
            @click='newPasswordType = "password"'
            v-else
            slot="suffix"
          >
            <a-icon
              type="eye-invisible"
              class='settings-security-password__icon-input'
            />
          </button>
        </a-input>
        <bio-transition>
          <i v-if='!$v.newPassword.$invalid' class="fas fa-check settings-security-password__input-extra settings-security-password__input-extra--check"></i>
        </bio-transition>
      </a-form-item>
      <a-form-item>
        <a-button
          type='primary'
          :loading='loading'
          @click='changePass'
          :disabled='isChangePasswordDisables'
        >Change password</a-button>
      </a-form-item>
    </a-form>
  </div>
</template>
<script>
import validationMixin from "@/mixins/validationMixin";
import { CHANGE_PASSWORD } from '../../constants';
import { mapActions } from 'vuex';

export default {
  name: "AppSettingsSecurityPassword",
  mixins: [validationMixin],
  data() {
    return {
      currentPassword: "",
      newPassword: "",
      currentPasswordType: "password",
      newPasswordType: "password",
      loading: false,
    };
  },
  methods: {
    ...mapActions('profile', [
      CHANGE_PASSWORD,
    ]),
    async changePass() {
      this.loading = true;
      await this[CHANGE_PASSWORD](this.newPassword);
      this.loading = false;
    },
    updateCurrentPassword(e) {
      this.currentPassword = e.target.value;
    },
    updateNewPassword(e) {
      this.newPassword = e.target.value;
      this.$v.newPassword.$touch();
    }
  }
};
</script>
<style lang="scss">
.settings-security-password {
  @include media {
    max-width: 360px;
  }
  &__icon-button {
    padding: 2px;
    cursor: pointer;
    &:active {
      color: $B4;
    }
  }
  &__form-item {
    &.success .ant-input.ant-input-lg {
      border-color: $G100 !important;
    }
  }
  &__input {
    max-width: 90%;
  }
  &__icon-input {
    font-size: 1rem;
    @include transition(color);
    color: $B400;
  }
  &__input-extra {
    position: absolute;
    left: calc(100% + 12px);
    bottom: 2px;
    &--loading {
      color: $B300;
      bottom: 1px;
    }
    &--check {
      color: $G100;
      font-size: $H600;
      @include transition(color);
    }
  }
}
</style>
