<template>
  <div class="settings-security-two-factor">
    <h2 class="settings-security-two-factor__title">
      Two factor authentication <bio-status v-if='isTwoFactor' class="settings-security-two-factor__status" status='activated'/>
    </h2>
    <bio-transition>
      <div v-if="!twoStepVisible">
        <p class="settings-security-two-factor__text">
          The Google authenticator app for Android, iPhone or Blackberry will be
          generate verification codes for the sifety sign in.
        </p>
        <a-button v-if='!isTwoFactor' :loading="loading" @click="showTwoStep" type="primary"
          >Enable</a-button
        >
        <a-button v-else :loading="loading" @click="disable" type="danger"
          >Disable</a-button
        >
      </div>
      <ul v-else class="settings-security-two-factor__list">
        <li class="settings-security-two-factor__item">
          <span class="settings-security-two-factor__list-icon">1</span>
          <div>
            <p class="settings-security-two-factor__step-name">
              Install Google authenticator app on your device
            </p>
          </div>
        </li>
        <li class="settings-security-two-factor__item">
          <span class="settings-security-two-factor__list-icon">2</span>
          <div>
            <p class="settings-security-two-factor__step-name">
              Scan this unique QR code by App
            </p>
            <qrcode-vue size="140" :value="qrcode"></qrcode-vue>
          </div>
        </li>
        <li class="settings-security-two-factor__item">
          <span class="settings-security-two-factor__list-icon">3</span>
          <div>
            <p class="settings-security-two-factor__step-name">
              Write your Authentication code
            </p>
            <a-input
              v-model.trim="authCode"
              class="settings-security-two-factor__input"
            />
            <div class="settings-security-two-factor__buttons">
              <a-button @click="twoStepVisible = false">Cancel</a-button>
              <a-button :disabled='!authCode' @click='apply' :loading='loading' type="primary">Apply</a-button>
            </div>
          </div>
        </li>
      </ul>
    </bio-transition>
  </div>
</template>
<script>
import QrcodeVue from 'qrcode.vue';
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex';
import { GET_QRCODE, UPDATE_AUTHCODE, SEND_AUTHCODE, DISABLE_TWO_STEP } from '../../constants';

export default {
  name: 'AppSettingsSecurityTwoFactor',
  components: {
    QrcodeVue,
  },
  data() {
    return {
      twoStepVisible: false,
      loading: false,
      authCode: '',
    };
  },
  computed: {
    ...mapState('profile', {
      qrcode: state => state.qrcode,
    }),
    ...mapGetters('profile', [
      'isTwoFactor',
    ])
  },
  methods: {
    ...mapActions('profile', [GET_QRCODE, SEND_AUTHCODE, DISABLE_TWO_STEP]),
    ...mapMutations('profile', [UPDATE_AUTHCODE]),
    cleanCode() {
      this.authCode = '';
    },
    async showTwoStep() {
      this.cleanCode();
      this.loading = true;
      await this[GET_QRCODE]();
      this.loading = false;
      this.twoStepVisible = true;
    },
    async apply() {
      this.loading = true;
      await this[SEND_AUTHCODE](this.authCode);
      this.loading = false;
      this.twoStepVisible = false;
    },
    async disable() {
      this.loading = true;
      await this[DISABLE_TWO_STEP]();
      this.loading = false;
    }
  },
};
</script>
<style lang="scss">
.settings-security-two-factor {
  @include media {
    max-width: 500px;
  }
  &__title {
    margin-bottom: 20px;
    @include flex-row(flex-start, center);
  }
  &__status {
    margin-left: 20px;
  }
  &__list {
    list-style: none;
  }
  &__item {
    @include flex-row(flex-start, baseline);
    margin-bottom: 10px;
  }
  &__list-icon {
    @include size(24px, $round: true);
    background-color: $B400;
    @include flex-row(center, center);
    @include text($H400, 500, $N0);
    margin-right: 18px;
  }
  &__step-name {
    font-weight: 500;
  }
  &__input {
    margin-bottom: 18px;
  }
  &__buttons {
    @include flex-row(flex-end, center);
    & > *:first-child {
      margin-right: 20px;
    }
  }
}
</style>

